<%- include('./partials/header') %>

<h1>Register</h1>

<form action="/register" method="post">
    <label for="username">Insert Username</label>
    <input type="text" name="username" id="" placeholder="Username">
    <br>
    <br>
    <label for="username">Insert Password</label>
    <input type="password" name="password" id="" placeholder="Password">
    <button>Register</button>
</form>


<%- include('./partials/footer') %>