.thumbnail {
  padding: 0px !important;
}

.thumbnail img {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 9px;
}

.currentUser {
  color: white;
}

.form-control:focus  {
  border: 1px solid #b1f0bc !important;
  -webkit-box-shadow: 0px 0px 8px rgba(177,240,188,0.5) !important;
  -moz-box-shadow: 0px 0px 8px rgba(177,240,188,0.5)  !important;
  box-shadow: 0px 0px 8px rgba(177,240,188,0.5)  !important;
}

footer{
  bottom: 5px;
  position: absolute;
}

img{
  cursor: pointer;
  transition: 0.5s all;
}

.sibling-fade:hover img:not(:hover){
  opacity: 0.7;
  transition: 0.5s all;
}

.jumbotron {
  background-color:transparent !important; 
}

 .hrComment {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.delete-form {
  display: inline;
}

/* Google Maps */
#map {
  height: 400px;
  width: 90%;
  background-color: #333;
}

#divImage {
margin-bottom: 1.5rem;}
